@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    /* #ffffff */
    --foreground: 240 20% 11%;
    /* #2B2D42 */
    --card: 0 0% 100%;
    /* #ffffff */
    --card-foreground: 235 10% 20%;
    /* #373a43 */
    --popover: 0 0% 100%;
    /* #ffffff */
    --popover-foreground: 235 10% 20%;
    /* #373a43 */
    --primary: 14 100% 63%;
    /* #ff6c40 */
    --primary-foreground: 0 0% 100%;
    /* #ffffff */
    --secondary: 235 15% 26%;
    /* #2b2d42 */
    --secondary-foreground: 0 0% 100%;
    /* #ffffff */
    --muted: 0 0% 94%;
    /* #f0f0f0 */
    --muted-foreground: 240 10% 28%;
    /* #8d99ae */
    --accent: 260 48% 83%;
    /* #d4c1f7 */
    --accent-foreground: 235 10% 20%;
    /* #373a43 */
    --destructive: 0 100% 70%;
    /* #ff5e5e */
    --destructive-foreground: 0 0% 100%;
    /* #ffffff */
    --border: 225 10% 60%;
    /* #8d99ae */
    --input: 225 10% 60%;
    /* #8d99ae */
    --ring: 12 100% 62%;
    /* #ff6c40 */
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-roboto;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-poppins font-bold;
  }
}


