@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-poppins: Poppins, sans-serif;
  --font-roboto: Roboto, sans-serif;

  --text-display: 52px;
  --text-display--line-height: 56px;
  --text-display--letter-spacing: -0.5px;
  --text-display--font-weight: 900;
  --text-display-sm: 44px;
  --text-display-sm--line-height: 48px;
  --text-display-sm--letter-spacing: -0.5px;
  --text-display-sm--font-weight: 900;

  --text-display-subheading-0: 28px;

  --text-display-subheading--font-family: Roboto;
  --text-display-subheading--font-family--line-height: sans-serif;
  --text-display-subheading--line-height: 36px;
  --text-display-subheading--letter-spacing: 0px;
  --text-display-subheading--font-weight: 300;

  --text-display-subheading-length: 2;

  --text-display-subheading-sm-0: 24px;

  --text-display-subheading-sm--font-family: Roboto;
  --text-display-subheading-sm--font-family--line-height: sans-serif;
  --text-display-subheading-sm--line-height: 32px;
  --text-display-subheading-sm--letter-spacing: 0px;
  --text-display-subheading-sm--font-weight: 300;

  --text-display-subheading-sm-length: 2;

  --text-h1: 44px;
  --text-h1--line-height: 48px;
  --text-h1--font-weight: 600;
  --text-h2: 36px;
  --text-h2--line-height: 44px;
  --text-h2--font-weight: 600;
  --text-subtitle: 18px;
  --text-subtitle--line-height: 28px;
  --text-subtitle--font-weight: 400;
  --text-button: 16px;
  --text-button--line-height: 24px;
  --text-button--letter-spacing: 0.25px;
  --text-button--font-weight: 600;
  --text-body: 16px;
  --text-body--line-height: 24px;
  --text-body--font-weight: 400;
  --text-small: 14px;
  --text-small--line-height: 20px;
  --text-small--font-weight: 500;

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: #ff6c40;
  --color-primary-foreground: #ffffff;

  --color-secondary: #2b2d42;
  --color-secondary-foreground: #ffffff;
  --color-secondary-tints:
    #2b2d42, #3d3f53, #505265, #646676, #787a89, #8d8f9c, #a3a4af, #b9bac2,
    #d0d1d6, #e7e8ea;
  --color-secondary-shades:
    #2b2d42, #242638, #1d1f2f, #161825, #10111c, #0a0b14, #05060b, #020205,
    #010101, #000000;

  --color-destructive: #ff5e5e;
  --color-destructive-foreground: #ffffff;

  --color-muted: #f0f0f0;
  --color-muted-foreground: #67748c;

  --color-accent: #d4c1f7;
  --color-accent-foreground: #2b2d42;

  --color-slate: #6967ef;
  --color-slate-tints:
    #6967ef, #7578f2, #8388f5, #9098f8, #9fa7fa, #aeb6fc, #bdc4fd, #cdd3fe,
    #dee2ff, #eef0ff;
  --color-slate-shades:
    #6967ef, #5a59d0, #4c4bb1, #3e3d94, #313078, #24235c, #181742, #0c0c2a,
    #040414, #000003;

  --color-popover: #ffffff;
  --color-popover-foreground: #2b2d42;

  --color-card: #ffffff;
  --color-card-foreground: #2b2d42;

  --color-cream: #fdf4e4;

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    /* #ffffff */
    --foreground: 240 20% 11%;
    /* #2B2D42 */
    --card: 0 0% 100%;
    /* #ffffff */
    --card-foreground: 235 10% 20%;
    /* #373a43 */
    --popover: 0 0% 100%;
    /* #ffffff */
    --popover-foreground: 235 10% 20%;
    /* #373a43 */
    --primary: 14 100% 63%;
    /* #ff6c40 */
    --primary-foreground: 0 0% 100%;
    /* #ffffff */
    --secondary: 235 15% 26%;
    /* #2b2d42 */
    --secondary-foreground: 0 0% 100%;
    /* #ffffff */
    --muted: 0 0% 94%;
    /* #f0f0f0 */
    --muted-foreground: 240 10% 28%;
    /* #8d99ae */
    --accent: 260 48% 83%;
    /* #d4c1f7 */
    --accent-foreground: 235 10% 20%;
    /* #373a43 */
    --destructive: 0 100% 70%;
    /* #ff5e5e */
    --destructive-foreground: 0 0% 100%;
    /* #ffffff */
    --border: 225 10% 60%;
    /* #8d99ae */
    --input: 225 10% 60%;
    /* #8d99ae */
    --ring: 12 100% 62%;
    /* #ff6c40 */
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-roboto;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-poppins font-bold;
  }
}


